<!--.preloader-->
<div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
<!--/.preloader-->
<app-header></app-header>
<app-top-navbar></app-top-navbar>
<app-footer></app-footer>

bonjour

<router-outlet></router-outlet>
